@tailwind base;
@tailwind components;
@tailwind utilities;

.reserved-date { 
    color: #545454 ;
    pointer-events: none; 
  }
  
  
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0048ab;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}
